
  <header>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <p>Logo here</p>
        </div>
        <nav>
        <ul class="main-header__item-lis  t" id="menu-items">
        
          <li class="main-header__item">
            <a class="<%= path === "/home" ? "active": "" %>" href="/home">Home</a>
          </li>
          <li class="main-header__item">
            <a class="<%= path === "/about" ? "active": "" %>" href="/about">About</a>
          </li>
          <li class="main-header__item">
            <a class="<%= path === "/evening-dresses" ? "active": "" %>" href="/evening-dresses">Evening Dresses</a>
          </li>
          <li class="main-header__item">
            <a class="<%= path === "/casual-dresses" ? "active": "" %>" href="/casual-dresses">Everyday Dresses</a>
          </li>
          <li class="main-header__item">
            <a class="<%= path === "/floral-dresses" ? "active": "" %>" href="/floral-dresses">Floral Dresses</a>
          </li>
          <!-- admin routes -->
          <li class="main-header__item">
            <a class="<%= path === "/admin/all-products-admin" ? "active": "" %>" href="/admin/all-products-admin"> All products admin</a>
          </li>
        
          <li class="main-header__item">
            <a class="<%= path === "/admin/add-product" ? "active": "" %>" href="/admin/add-product">Add Product</a>
          </li>
          <!-- cart -->
          <li class="main-header__item">
            <a class="<%= path === "/cart" ? "active": "" %>" href="/cart">My Cart</a>
          </li>
        </ul>
        </nav>
        <img class="menu-icon" src="https://img.icons8.com/ios-glyphs/30/000000/menu--v1.png" alt="menu icon" onClick="menuToggle()" />
      

      <script>
        const MenuItems = document.getElementById("menu-items");
        MenuItems.style.maxhHeight = "0px";
        function menuToggle(){
          if(MenuItems.style.maxHeight === "0px"){
              MenuItems.style.maxHeight = "200px";
            }
          else {
              MenuItems.style.maxHeight = "0px";
            }
          }
        

      </script>
      </div>
    </div>
  </header>
  
